langchain
langchain-community
langchain-core 
chromadb 
pypdf 
sentence-transformers 
transformers 
torch 
accelerate
hf_xet
torchaudio
numpy
SpeechRecognition
googletrans==4.0.0-rc1
gTTS 
playsound 
pyaudio
pymongo
langchain-groq